<!DOCTYPE html>
<html>

{% include 2016_data/head.html %}

<body id="page-top" class="index">

    {% include 2017_data/header-home.html %}
    {% include 2017_data/intro.html %}
    {% include 2017_data/register.html %}
    {% include 2017_data/location.html %}
    {% include 2016_data/contact.html %}

    <!-- Hidden speaker content -->
    {% include 2017_data/speakers_info.html %}

    <!-- Footer LAST -->
    {% include 2016_data/footer.html %}

    <!-- Back to top -->
<a href="#page-top" id="backToTop" aria-label="Back to top"></a>

    {% include 2016_data/js.html %}

</body>

</html>
